doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class="no-js", lang="en")
    head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Memory Game
    link(rel="stylesheet", href="css/foundation.css")
    link(rel="stylesheet", href="css/app.css")
    script(src="js/vendor/modernizr.js")
body
  #top-spacer
    h1#name Memory Game
  .row
    .small-12.columns
      img(src='http://media.giphy.com/media/bouwpcHkCuxEs/giphy.gif')
  .row
    .small-3.columns
    .small-6.small-centered.columns#buttonHolder
      .button#play(value="Play") Geronimo!
      .button#reset(value="Reset") Clear
    .small-3.columns
      .row#board
        .small-12.small-centered.columns
          table
            thead
            tfoot
            tbody
              tr
                td
                  .tile
                td
                  .tile
                td
                  .tile
                td
                  .tile
              tr
                td
                  .tile
                td
                  .tile
                td
                  .tile
                td
                  .tile
              tr
                td
                  .tile
                td
                  .tile
                td
                  .tile
                td
                  .tile
              tr
                td
                  .tile
                td
                  .tile
                td
                  .tile
                td
                  .tile
              tr
                td
                  .tile
                td
                  .tile
                td
                  .tile
                td
                  .tile


    script(src="js/vendor/jquery.js")
    script(src="js/vendor/foundation.js")
    script(src="js/source/main.js")
    script $(document).foundation();
